head{
    background-color: rgb(109, 0, 139);
    font-palette:white;
}

header {
    background-image:linear-gradient(to bottom, blueviolet, rgb(170, 136, 202));
    text-align: center;
    min-height: 150px;
    padding: 40px;
}

header>h1 {
    color: white;
    font-family: cursive;
}

header>h3 {
    color: white;
    font-family: 'Times New Roman', Times, serif;

}

a {
    text-decoration: none;
}
li {
    list-style: none; 
    margin: 10px;
    display: inline;

}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color:white;
    text-align:justify;
    color:rgb(98, 5, 186);
    
}

table {
    border: 2px;
    font-palette: white;

}

p {
   font-size: large;
   
}
img {
    border-radius:10px ;
    margin:auto;
    align-items: center;
}
 
.navbar {
     display: flex;
     text-align: center;
     justify-content: space-between;
     padding: 20px;
     color: floralwhite 
    }

.navlinks a {  
    color: floralwhite 
}
.logo { 
    font-size: 32px;
}
.menu { 
      display: flex;
      gap: 1em; 
      font-size: 18px;
    }
.menu li:hover { 
    background-color:blueviolet ; 
    border-radius: 5px;
    transition:0.3 ease;
    }
.menu li {
    padding: 5px 14px;
    align-items: center;
}


